# --- System ---
.DS_Store
Thumbs.db

# --- Python ---
__pycache__/
*.pyc
venv/
env/
.env

# --- Large Models ---
*.pth
*.zip
networks/generator.zip
networks/generator.pth

# --- User Data (Keep your images local) ---

input_manga/        
#(input manga folder)

output_manga/
#(output manga folder)

# figures/

